<h2>CPU utillzation</h2>

<table>
  <thead>
    <tr>
      <th>server1</th>
      <th>server2</th>
      <th>server3</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th><%= db_image_tag(1) %></th>
      <th><%= db_image_tag(1) %></th>
      <th><%= db_image_tag(1) %></th>
    </tr>
  </tbody>
</table>

<br>

<%= link_to 'New Image', new_image_path %>
